body {
  text-align:center;
  font-family: helvetica;
}

h1 {
  font-family: helvetica;
  font-size: 72px;
  color: black;
}

p {
  font-family: helvetica;
  font-size: 36px;
  color: black;
}

#copyright {
  font-family: helvetica;
  font-size: 8px;
  color: black;
  text-align: left;
}
